@font-face {
  font-family: "Font";
  src: url("/font/Font.ttf") format("truetype");
}

:root {
  --lavender: #e5d4ed;
  --blue: #6d72c3;
  --purple: #5941a9;
  --shade: #514f59;
  --dark: #1d1128;
  --white: #ffffff;
  --black: #000000;
}

html,
body {
  background: var(--white);
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Font", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--lavendar);
    background: var(--shade);
  }
}
